{{#extend "stylesheets"}}
<style>
  .header{
    background: green;
    height: 300px;
  }
</style>
{{/extend}}
<div class="content">
  <div class="header">
    
  </div>
</div>
{{#extend "scripts"}}

{{/extend}}
