{{#extend "stylesheets"}}
<link rel='stylesheet' href="/swiper/dist/css/swiper.min.css" />
{{/extend}}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#extend "scripts"}}
<script type="text/javascript" src="/swiper/dist/js/swiper.min.js"></script>
<script>
  wx.ready(function(){

  });
</script>
{{/extend}}
