<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<script type="text/javascript" src="/swiper/dist/js/swiper.min.js"></script>
<link rel='stylesheet' href="/swiper/dist/css/swiper.min.css" />
<script>

wx.ready(function(){
  
});

</script>
