<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<script type="text/javascript" src="../node_modules/swiper/dist/js/swiper.min.js"></script>
<link rel='stylesheet' href="../node_modules/swiper/dist/css/swiper.min.css" />
