{{#extend "stylesheets"}}
    <style media="screen">
        .container {
            padding: 15px;
        }

        .search-box {
            display: inline-block;
            width: 100%;
            border-radius: 3px;
            padding: 4px 55px 4px 15px;
            position: relative;
            background: #efefef;
            border: 1px solid #ddd;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
        }

        .search-box.hovered,
        .search-box:hover,
        .search-box:active {
            border: 1px solid #aaa;
        }

        .search-box input[type=search] {
            border: none;
            box-shadow: none;
            display: inline-block;
            padding: 0;
            background: transparent;
        }

        .search-box input[type=search]:hover,
        .search-box input[type=search]:focus,
        .search-box input[type=search]:active {
            box-shadow: none;
        }

        .search-box .search-btn {
            position: absolute;
            right: 2px;
            top: 2px;
            color: #aaa;
            border-radius: 3px;
            font-size: 21px;
            padding: 5px 10px 1px;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
        }

        .search-box .search-btn:hover {
            color: #fff;
            background-color: #8FBE00;
        }

        .item {
            width: calc(calc(100vw - 70px) / 4);
            margin: 10px 5px;
            border: 1px solid #cdcdcd;
            text-align: center;
            border-radius: 5px;
            padding-top: 3px;
            padding-bottom: 3px;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }

        .item.active {
            background: #25decd;
            color: white;
        }
    </style>
{{/extend}}
<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <div class='search-box'>
                <div class='search-form'>
                    <input class='form-control' id="inputSearch" placeholder='请输入作者或作品' type='search' autofocus />
                    <button class='btn btn-link search-btn'>
            <i class='glyphicon glyphicon-search'></i>
          </button>
        </div>
            </div>
        </div>
    </div>

    <hr style="margin:20px -15px 10px;" />

    <div style="margin-left:5px;">
      画种
    </div>
    <div style="display:flex;flex-wrap:wrap;" id="type">

        <div class="item active" data-name="油画"><span class="glyphicon glyphicon-ok">油画</span></div>
        <div class="item active" data-name="国画"><span class="glyphicon glyphicon-ok">国画</span></div>
        <div class="item active" data-name="水彩"><span class="glyphicon glyphicon-ok">水彩</span></div>
        <div class="item active" data-name="彩铅"><span class="glyphicon glyphicon-ok">彩铅</span></div>
    </div>


</div>



    <div style="height:10px;width:100%;background:#efefef;">

    </div>
    <div style="margin-left:20px;margin-top:10px;">
      题材
    </div>
    <div style="display:flex;flex-wrap:wrap;padding:15px;padding-top:0px;" id="catalog">

        <div class="item active" data-name="人物"><span class="glyphicon glyphicon-ok">人物</span></div>
        <div class="item active" data-name="山水"><span class="glyphicon glyphicon-ok">山水</span></div>
        <div class="item active" data-name="花鸟"><span class="glyphicon glyphicon-ok">花鸟</span></div>
        <div class="item active" data-name="风景"><span class="glyphicon glyphicon-ok">风景</span></div>
        <div class="item active" data-name="动物"><span class="glyphicon glyphicon-ok">动物</span></div>
        <div class="item active" data-name="历史"><span class="glyphicon glyphicon-ok">历史</span></div>
    </div>

{{#extend "scripts"}}

    <script>
    var catalogSelected = [];
    var typeSelected = [];
    $(function(){
      //$("#inputSearch").focus();

      $(".item").on("click", function() {
        var span = $(this).find("span");
          if(span.hasClass("glyphicon-ok")){
            span.removeClass("glyphicon-ok")
          }
          else{
            span.addClass("glyphicon-ok")
          }
          $(this).toggleClass("active");

      });
      $(".search-btn").on("click",function(){
        catalogSelected.length=0;
        typeSelected.length=0;
        var actives1 = $("#type").find(".active");
        for (var i = 0; i < actives1.length; i++) {
          typeSelected.push(actives1.eq(i).data("name"));
        }
        var type = typeSelected.join(',') || 0;

        var actives2 = $("#catalog").find(".active");
        for (var i = 0; i < actives2.length; i++) {
          catalogSelected.push(actives2.eq(i).data("name"));
        }
        var catalog = catalogSelected.join(',') || 0;

        var key = $("#inputSearch").val();
        window.location.href="/todayMore/search/"+type+"/"+catalog+"/"+key;
        return false;
      });

    })

    </script>
{{/extend}}
