<link rel='stylesheet' href="/swiper/dist/css/swiper.min.css" />
{{#extend "stylesheets"}}
  <style>
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
      background: #fff;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  </style>
{{/extend}}
<div class="swiper-container"  style="position:relative">
  <div class="swiper-wrapper">

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <div style="position:absolute;left:2%;bottom:2%;z-index:99999;font-size:3rem;opacity:0.6;">
    <button id="btnAddImg" type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus-sign"></span></button>
  </div>
  <div style="position:absolute;right:2%;bottom:2%;z-index:99999;font-size:3rem;opacity:0.6;">
    <button id="btnRemoveImg" type="button" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-minus-sign"></span></button>
  </div>
</div>
<!-- <button id="btnSelectImg">选择图片</button> -->
<!-- <div style="background:#fff;margin-top:2em;"> -->
<div class="container-fluid" style="background:#fff;margin-top:10px;height:100%;">
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">作者</span>
        <input placeholder="请输入作者名称" class="form-control" type="text" id="txtAuthorName" />
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">画名</span>
        <input placeholder="请输入画名" class="form-control" type="text" id="txtImgName" />
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">画种</span>
        <!-- Split button -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border-radius:0;width:100%;text-align:right;">
            <span id="typeTitle">选择画种</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="ulType" aria-labelledby="dropdownMenu1">
            <li><a href="#">山水画</a></li>
            <li><a href="#">人物画</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">题材</span>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border-radius:0;width:100%;text-align:right;">
            <span id="catalogTitle">选择题材</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="ulCatalog" aria-labelledby="dropdownMenu2">
            <li><a href="#">题材1</a></li>
            <li><a href="#">题材2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">尺寸</span>
        <input placeholder="宽" class="form-control" type="number" id="txtImgWidth" style="width:35%;float:none;text-align:center;" /> x <input placeholder="高" style="text-align:center;width:35%;border-radius:0;float:none;" class="form-control" type="number"
          id="txtImgHeight" />
        <span style="font-size:0.8em;color:gray;"> (单位:cm)</span>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">底价</span>
        <input placeholder="请输入底价" class="form-control" type="number" id="txtImgPrice" />
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">备注</span>
        <input placeholder="请输入备注" class="form-control" type="text" id="txtDesc" />
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12" style="display:flex;flex-direction:row;align-items:center;justify-content:center;">
      <button id="btnSave" type="button" class="btn btn-primary">提 交</button>
    </div>
  </div>
</div>
{{#extend "scripts"}}
  <script type="text/javascript" src="/swiper/dist/js/swiper.min.js"></script>
  <script>
  var swiperDiv;
    $(function() {
      swiperDiv = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
      });
      getSwiperHeight();

      $("#ulType li").on('click', function() {
        // alert($("#typeTitle").text());
        $("#typeTitle").text($(this).text());
      })

      $("#ulCatalog li").on('click', function() {
        // alert($("#typeTitle").text());
        $("#catalogTitle").text($(this).text());
      })
    });
    var getSwiperHeight = function(){
        var winWidth;
        if(window.innerWidth){
          winWidth = window.innerWidth;
        }else if((document.body) && (document.body.clientWidth)){
          winWidth = document.body.clientWidth;
        }

        $(".swiper-container").height(winWidth / 2);
      }
    wx.ready(function() {
      var localIds = [];
      var serverIds = [];
      $("#btnAddImg").click(function() {
        wx.chooseImage({
          count: 9,
          success: function(res) {
            var Ids = res.localIds;
            localIds.push(Ids);
            var d = $(".swiper-wrapper");
            for (var i = 0; i < Ids.length; i++) {
              alert(Ids[i]);
              d.append('<div class="swiper-slide"><img src="' + Ids[i] + '"  /></div>');
            }
            swiperDiv = new Swiper('.swiper-container', {
              pagination: '.swiper-pagination',
              paginationClickable: true,
              spaceBetween: 30,
            });
            getSwiperHeight();
            swiperDiv.slideTo(localIds.length - 1);
          }
        });
      });
      $("#btnSave").click(function() {
        syncUpload(localIds);
      });

      $("#btnRemoveImg").click(function(){
        var imgDiv = $(".swiper-slide-active img");
        var removeDiv = $(".swiper-slide-active");
          if(imgDiv != null && imgDiv != undefined && imgDiv.length > 0) {
            removeDiv.remove();
            var src = imgDiv[0].src;
            var index = localIds.indexOf(src);
            var isLastIndex = false;
            if((index + 1) == localIds.length){
              //说明删除的是最后一张
              isLastIndex = true;
            }

            if(swiperDiv != null && swiperDiv != undefined){
              swiperDiv.destroy(true, true);
            }
            swiperDiv = new Swiper('.swiper-container', {
              pagination: '.swiper-pagination',
              paginationClickable: true,
              spaceBetween: 30,
            });
            getSwiperHeight();
            if(isLastIndex){
              swiperDiv.slideTo(localIds.length - 1, 0);
            }else{
              swiperDiv.slideTo(index, 0);
            }

          }
      })

      var syncUpload = function(localIds) {
        var localId = localIds.pop();
        wx.uploadImage({
          localId: localId,
          success: function(res) {
            var serverId = res.serverId;
            serverIds.push(serverId);
            if (localIds.length > 0) {
              syncUpload(localIds);
            } else {
              $.ajax({
                url: '/saleDetail/saveItem',
                type: 'POST',
                data: {
                  name: $("#txtImgName").val(),
                  author: $("#txtAuthorName").val(),
                  width: $("#txtImgWidth").val(),
                  height: $("#txtImgWidth").val(),
                  comment: $("#txtDesc").val(),
                  type: $("#typeTitle").text(),
                  price: $("#txtImgPrice").val(),
                  images: serverIds,
                  catalog: $("#catalogTitle").text()
                },
                success: function(data) {},
                error: function(req, status, err) {},
                complete: function(res, status) {
                  console.log(res);
                }
              })
            }
          }
        })
      }
    });
  </script>
{{/extend}}
