{{#extend "stylesheets"}}
<link rel='stylesheet' href="/swiper/dist/css/swiper.min.css" />
<link rel="stylesheet" href="/stylesheets/sell.css" />
{{/extend}}
<div class="swiper-container" style="position:relative">
  <div class="swiper-wrapper">
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <div class="removeBtn">
    <button id="btnRemoveImg" type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
  <div class="addBtn">
    <button id="btnAddImg" type="button" class="btn btn-info btn-circle btn-lg"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
</div>
<!-- <button id="btnSelectImg">选择图片</button> -->
<!-- <div style="background:#fff;margin-top:2em;"> -->
<div class="container-fluid containerDiv">
  <div class="row rowDiv">
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">作者</span>
        <input placeholder="请输入作者名称" class="form-control" type="text" id="txtAuthorName" />
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">画名</span>
        <input placeholder="请输入画名" class="form-control" type="text" id="txtImgName" />
      </div>
    </div>
  </div>
  <div class="row rowDiv">
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">画种</span>
        <!-- Split button -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border-radius:0;width:100%;text-align:right;">
            <span id="typeTitle">选择画种</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="ulType" aria-labelledby="dropdownMenu1">
            <li><a href="#">山水画</a></li>
            <li><a href="#">人物画</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">题材</span>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border-radius:0;width:100%;text-align:right;">
            <span id="catalogTitle">选择题材</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="ulCatalog" aria-labelledby="dropdownMenu2">
            <li><a href="#">题材1</a></li>
            <li><a href="#">题材2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row rowDiv">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">尺寸</span>
        <input placeholder="宽" class="form-control" type="number" id="txtImgWidth" style="width:35%;float:none;text-align:center;" /> x <input placeholder="高" style="text-align:center;width:35%;border-radius:0;float:none;" class="form-control" type="number"
          id="txtImgHeight" />
        <span style="font-size:0.8em;color:gray;"> (单位:cm)</span>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:5px;">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">底价</span>
        <input placeholder="请输入底价" class="form-control" type="number" id="txtImgPrice" />
      </div>
    </div>
  </div>
  <div class="row rowDiv">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon">备注</span>
        <!-- <input placeholder="请输入备注" class="form-control" type="text" id="txtDesc" /> -->
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="row rowDiv">
    <div class="col-xs-12 subBtn">
      <button id="btnSave" type="button" class="btn btn-primary btn-block">提 交</button>
    </div>
  </div>
</div>
{{#extend "scripts"}}
  <script type="text/javascript" src="/swiper/dist/js/swiper.min.js"></script>
  <script type="text/javascript" src="/javascripts/sell/sell.js"></script>
{{/extend}}
