.header{
  position: relative;
}
.header img{
  width: 100%;
}

.avatar{
  position: absolute;
  top: 15%;
  left: 40%;
  width: 20%;
  height: 40%;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img{
  width: 100%;
}
.nick{
  position:absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  color: white;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin-top: 20px;
}
.item{
  width: 15%;
  text-align: center;
}
.item img{
  width: 50%;
}
.menu-name{
  margin-top: 5px;
  text-align: center;
}
