body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.mySegment{
  width: 100%;
  display: flex;
  height: 50px;
  font-size: 20px;
  align-items: center;
}

.segmentItem{
  width: 48%;
  text-align: center;
  color: #c4c4c4;
}

.segmentSplit{
  width: 1px;
  background: #b7b7b7;
  height: 50%;
}

.segmentItem.active{
  color: #ab4255;
}

.segmentContainer{
  width: 90%;
  margin: 0 auto;
  height: calc(100vh - 50vw - 50px - 50px);
  overflow-y: scroll;
  position: relative;
}

.segmentView{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line{
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.name{
  width: 30%;
}
.info{
  width: 70%;
}
.avatar{
  width: 20%;
}
.avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nick{
  color: black;
  width: 20%;
}
.price{
  color: #ab4255;
  width: 20%;
}
.time{
  color: #c4c4c4;
  width: 40%;
}

.footer{
  height: 49px;
  width: 100%;
  display: flex;
  border-top: 1px solid #c4c4c4;
}
.bid{
  width: 25vw;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #e60232;
  color: white;
}
.good{
  height: 100%;
  width: 75vw;
}

.good img{
  width: 28px;
}

.goodContainer{
  margin-left: 30vw;
  width: 45vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodCount{
  height:50px;
  line-height: 50px;
  margin-left: 4px;
}

.mask{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  z-index: 10;
  display: none;
}

.bidContainer{
  border-radius: 4px;
  width: 90vw;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -45vw;
  margin-top: -175px;
  background: white;
  z-index: 30;
  display: none;
}

.bid-header{
  background: #e60232;
  color: white;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: larger;
}

.currentPrice{
  width: 100%;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  min-height: 25px;
}

.bidPrice{
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  margin-top: 20px;
}

.priceBtn{
  width: 50px;
  line-height:34px;
  height: 34px;
  border:1px solid #ddd;
  text-align: center;
}

#minus{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#add{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#myPrice{
  width: 50px;
  line-height:34px;
  height: 34px;
  border:1px solid #ddd;
  text-align: center;
}
#currentPrice,#myCurrentPrice{
  color: red;
  font-size: larger;
}

.myCurrentPrice{
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.unClick{
  background: #bdbdbd;
}

.add,.minus{
  display:flex;
  justify-content:space-around;
  width:100%;
}

.minus{
  margin-top: 20px;
}

.add .btn-default,.minus .btn-default{
    width: 62px;
    font-weight: 800;
}
.add .btn-default{
  color:red;
}
.minus .btn-default{
  color:green;
}

/*#content{
  display:none;
  z-index:11;
  background:white;
}*/
