body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 50vw;
  background: #fff;
}

.swiper-slide {
  width:100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.removeBtn{
  position:absolute;left:2%;bottom:2%;z-index:99999;font-size:3rem;opacity:0.6;
}

.addBtn{
  position:absolute;right:2%;bottom:2%;z-index:99999;font-size:3rem;opacity:0.6;
}

.split{
  background:#eee;
  height:10px;
}

.my-box{
  margin-top: 10px;
  display: flex;
  border: 1px solid #a5a5a5;
  width: 90%;
  height: 40px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: #a5a5a5;
  position: relative;
}
.small-box{
  display: flex;
  border: 1px solid #a5a5a5;
  width: 55%;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  color: #a5a5a5;
}
.box-name{
  width: 16%;
  text-align: center;
}
.box-split{
  width: calc((16%-2em)/4);
  height: 20px;
  border-left: 1px solid #a5a5a5;
}
.box-element{
  width: 75%;
}
.box-element input{
  width: 100%;
  border:0px;
  outline: none;
}
.my-select-container{
  height: 100%;
  display: flex;
}
.my-select-name{
  height: 38px;
  line-height: 38px;
  width: 96%;
}
.my-select-arrow{
  height: 38px;
  line-height: 38px;
}
.box-items{
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  border: 1px solid #a5a5a5;
  width: 100%;
  z-index: 10;
  list-style: none;
  text-align: center;
  color:black;
  background:white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 210px;
  overflow-y: scroll;
}
.box-items li{
  height: 40px;
  line-height: 40px;
}
::-moz-placeholder { color: #a5a5a5; }
::-webkit-input-placeholder { color: #a5a5a5; }
:-ms-input-placeholder { color: #a5a5a5; }
